.card {
  width: $card-width;
  height: $card-height;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: $color-white;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  position: relative;
  opacity: 1;
  border-radius: 5px;
  border: 1px solid $color-border;
  outline: none;
  transition: transform $transition-duration;
  transform-origin: center;

  &:hover {
    transform: scale(1.2);
    z-index: 1;
  }

  &__top {
    padding: 32px 19px 40px;
    display: flex;
    justify-content: center;
  }

  &__image {
    width: 160px;
    height: 134px;
    display: block;
    object-fit: contain;
  }

  &__content {
    padding: 0 16px;
  }

  &__title {
    margin: 0;
    color: $color-title;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
    transition: color $transition-duration;
  }

  &:hover &__title {
    color: $color-title-hover;
  }

  &__code {
    margin: 0;
    padding-top: 4px;
    padding-bottom: 16px;
    color: $color-gray;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0;
  }

  &__rating {
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__reviews {
    color: $color-title;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0;
    text-align: right;
    align-self: flex-end;
  }

  &__price-block {
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price-label {
    color: $color-gray;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
    vertical-align: bottom;
  }

  &__price {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0;
    text-align: right;
    vertical-align: bottom;
  }

  &__buy {
    width: 166px;
    height: 40px;
    background-color: $color-primary;
    color: $color-white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid transparent;
    transition:
      background-color $transition-duration,
      color $transition-duration,
      border-color $transition-duration;
    padding: 0;

    &:hover {
      background-color: $color-white;
      color: $color-primary;
      border-color: $color-primary;
    }
  }
}
