// Colors
$color-primary: #00acdc;
$color-white: #fff;
$color-gray: #666;
$color-text: #333;
$color-title: #060b35; // nav links default color (not black)
$color-title-hover: #34568b; // card title hover color
$color-border: #f3f3f3;

// Sizes
$card-width: 200px;
$card-height: 408px;

// Font
$font-main: 'Roboto', sans-serif;

// Transitions
$transition-duration: 0.3s;
