/* global reset */
* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

@import 'variables';

html,
body {
  margin: 0;
  padding: 0;
  font-family: $font-main;
}

a {
  text-decoration: none;
  outline: none;
}

@import 'header';
@import 'catalog';
@import 'card';
@import 'stars';
